{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<div class="article-wrapper page-width">
  <div class="article-container">
    <article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div class="page-width page-width--narrow">
              {% render block %}
            </div>
          {%- when 'featured_image' -%}
            {%- if article.image -%}
              <div class="article-template__hero-container" {{ block.shopify_attributes }}>
                <div
                  class="article-template__hero-{{ block.settings.image_height }} media"
                  itemprop="image"
                  {% if block.settings.image_height == 'adapt' and article.image %}
                    style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                  {% endif %}
                >
                  <img
                    srcset="
                      {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                      {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                      {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                      {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                      {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                      {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                      {{ article.image | image_url }} {{ article.image.width }}w
                    "
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                    src="{{ article.image | image_url: width: 1100 }}"
                    loading="eager"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    alt="{{ article.image.alt | escape }}"
                  >
                </div>
              </div>
            {%- endif -%}
          {%- when 'title' -%}
            <header class="page-width page-width--narrow" {{ block.shopify_attributes }}>
              <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
              {%- if block.settings.blog_show_date -%}
                <span class="circle-divider caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">
                  {{- article.published_at | time_tag: format: 'date' -}}
                </span>
              {%- endif -%}
              {%- if block.settings.blog_show_author -%}
                <span
                  class="caption-with-letter-spacing"
                  itemprop="author"
                  itemscope
                  itemtype="http://schema.org/Person"
                >
                  <span itemprop="name">{{ article.author }}</span>
                </span>
              {%- endif -%}
            </header>
          {%- when 'content' -%}
            <div
              class="article-template__content page-width page-width--narrow rte"
              itemprop="articleBody"
              {{ block.shopify_attributes }}
            >
              {{ article.content }}
            </div>
          {%- when 'share' -%}
            <div class="article-template__social-sharing page-width page-width--narrow" {{ block.shopify_attributes }}>
              <share-button class="share-button" {{ block.shopify_attributes }}>
                <button class="share-button__button hidden">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </button>
                <details id="Details-{{ block.id }}-{{ section.id }}">
                  <summary class="share-button__button">
                    {% render 'icon-share' %}
                    {{ block.settings.share_label | escape }}
                  </summary>
                  <div id="Article-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                    <div class="field">
                      <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                      </span>
                      <input
                        type="text"
                        class="field__input"
                        id="url"
                        value="{{ request.origin | append: article.url }}"
                        placeholder="{{ 'general.share.share_url' | t }}"
                        onclick="this.select();"
                        readonly
                      >
                      <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                    </div>
                    <button class="share-button__close hidden no-js-hidden">
                      {% render 'icon-close' %}
                      <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                    </button>
                    <button class="share-button__copy no-js-hidden">
                      {% render 'icon-clipboard' %}
                      <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                    </button>
                  </div>
                </details>
              </share-button>
              <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
            </div>
        {%- endcase -%}
      {%- endfor -%}

      <div class="article-template__back element-margin-top center">
        <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
          <span class="icon-wrap">{% render 'icon-arrow' %}</span>
          {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
        </a>
      </div>
      {%- if blog.comments_enabled? -%}
        <div class="article-template__comment-wrapper background-secondary">
          <div id="comments" class="page-width page-width--narrow">
            {%- if article.comments_count > 0 -%}
              {%- assign anchorId = '#Comments-' | append: article.id -%}

              <h2 id="Comments-{{ article.id }}" tabindex="-1">
                {{ 'blogs.article.comments' | t: count: article.comments_count }}
              </h2>
              {% paginate article.comments by 5 %}
                <div class="article-template__comments">
                  {%- if comment.status == 'pending' and comment.content -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer class="right">
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                      </footer>
                    </article>
                  {%- endif -%}

                  {%- for comment in article.comments -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer class="right">
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                        ><span class="caption-with-letter-spacing">
                          {{- comment.created_at | time_tag: format: 'date' -}}
                        </span>
                      </footer>
                    </article>
                  {%- endfor -%}
                  {% render 'pagination', paginate: paginate, anchor: anchorId %}
                </div>
              {% endpaginate %}
            {%- endif -%}
            {% form 'new_comment', article %}
              {%- liquid
                assign post_message = 'blogs.article.success'
                if blog.moderated? and comment.status == 'unapproved'
                  assign post_message = 'blogs.article.success_moderated'
                endif
              -%}
              <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
              {%- if form.errors -%}
                <div class="form__message" role="alert">
                  <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h3>
                </div>
                <ul class="form-status-list caption-large">
                  {%- for field in form.errors -%}
                    <li>
                      <a href="#CommentForm-{{ field }}" class="link">
                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                          {{ 'blogs.article.name' | t }}
                        {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                          {{ 'blogs.article.message' | t }}
                        {%- else -%}
                          {{ form.errors.translated_fields[field] }}
                        {%- endif -%}
                        {{ form.errors.messages[field] }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- elsif form.posted_successfully? -%}
                <div class="form-status-list form__message" role="status">
                  <h3 class="form-status" tabindex="-1" autofocus>
                    {% render 'icon-success' %}
                    {{ post_message | t }}
                  </h3>
                </div>
              {%- endif -%}

              <div
                {% if blog.moderated? == false %}
                  class="article-template__comments-fields"
                {% endif %}
              >
                <div class="article-template__comment-fields">
                  <div class="field field--with-error">
                    <input
                      type="text"
                      name="comment[author]"
                      id="CommentForm-author"
                      class="field__input"
                      autocomplete="name"
                      value="{{ form.author }}"
                      aria-required="true"
                      required
                      {% if form.errors contains 'author' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-author-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.name' | t }}"
                    >
                    <label class="field__label" for="CommentForm-author">
                      {{- 'blogs.article.name' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'author' -%}
                      <small id="CommentForm-author-error">
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- 'blogs.article.name' | t }}
                          {{ form.errors.messages.author }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                  <div class="field field--with-error">
                    <input
                      type="email"
                      name="comment[email]"
                      id="CommentForm-email"
                      autocomplete="email"
                      class="field__input"
                      value="{{ form.email }}"
                      autocorrect="off"
                      autocapitalize="off"
                      aria-required="true"
                      required
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-email-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.email' | t }}"
                    >
                    <label class="field__label" for="CommentForm-email">
                      {{- 'blogs.article.email' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'email' -%}
                      <small id="CommentForm-email-error">
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- 'blogs.article.email' | t }}
                          {{ form.errors.messages.email }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field field--with-error">
                  <textarea
                    rows="5"
                    name="comment[body]"
                    id="CommentForm-body"
                    class="text-area field__input"
                    aria-required="true"
                    required
                    {% if form.errors contains 'body' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-body-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.message' | t }}"
                  >{{ form.body }}</textarea>
                  <label class="form__label field__label" for="CommentForm-body">
                    {{- 'blogs.article.message' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                </div>
                {%- if form.errors contains 'body' -%}
                  <small id="CommentForm-body-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.message' | t }}
                      {{ form.errors.messages.body }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              {%- if blog.moderated? -%}
                <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
              {%- endif -%}
              <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
            {% endform %}
          </div>
        </div>
      {%- endif -%}
    </article>
    <div>
      <script>
        console.log('{{ article.metafields.my_fields.related_product.value }}');
      </script>
      {% liquid
        assign product_handle = article.metafields.my_fields.related_product.value.handle
        if product_handle
          assign product = all_products[product_handle]
        endif
      %}

      {% if product != blank %}
        {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
        {{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
        {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
        {{ 'component-price.css' | asset_url | stylesheet_tag }}
        {{ 'component-rating.css' | asset_url | stylesheet_tag }}
        {{ 'component-rte.css' | asset_url | stylesheet_tag }}
        {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

        {%- style -%}
          .section-{{ product.id }}-padding {
            padding-top: 15px;
            padding-bottom: 15px;
          }

          @media screen and (min-width: 750px) {
            .section-{{ product.id }}-padding {
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }

          @media screen and (min-width: 990px) {
            .featured-product:not(.product--no-media)>.product__info-wrapper {
                padding: 0 3.5rem;
            }
          }
        {%- endstyle -%}

        <link
          rel="stylesheet"
          href="{{ 'component-deferred-media.css' | asset_url }}"
          media="print"
          onload="this.media='all'"
        >

        {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
        {%- if first_3d_model -%}
          {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
          <link
            id="ModelViewerStyle"
            rel="stylesheet"
            href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
            media="print"
            onload="this.media='all'"
          >
          <link
            id="ModelViewerOverride"
            rel="stylesheet"
            href="{{ 'component-model-viewer-ui.css' | asset_url }}"
            media="print"
            onload="this.media='all'"
          >
        {%- endif -%}

        <section class="color-background-1 {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %}">
          <div class="section-{{ product.id }}-padding{% if section.settings.secondary_background %} isolate{% endif %}">
            <div class="featured-product product grid grid--1-col gradient color-background-1 product--left {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
              <div class="grid__item product__media-wrapper">
                <media-gallery
                  id="MediaGallery-{{ product.id }}"
                  role="region"
                  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
                  data-desktop-layout="stacked"
                >
                  <div id="GalleryViewer-{{ product.id }}" class="product__media-list">
                    {%- if product.selected_or_first_available_variant.featured_media != null -%}
                      {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                      <div class="product__media-item" data-media-id="{{ product.id }}-{{ media.id }}">
                        {% render 'product-thumbnail',
                          media: media,
                          position: 'featured',
                          loop: section.settings.enable_video_looping,
                          modal_id: product.id,
                          xr_button: false,
                          media_width: 0.5
                        %}
                      </div>
                    {%- endif -%}
                    {%- liquid
                      assign media_to_render = product.featured_media.id
                      for variant in product.variants
                        assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
                      endfor
                    -%}
                    {%- for media in product.media -%}
                      {%- if media_to_render contains media.id
                        and media.id != product.selected_or_first_available_variant.featured_media.id
                      -%}
                        <div class="product__media-item" data-media-id="{{ product.id }}-{{ media.id }}">
                          {% render 'product-thumbnail',
                            media: media,
                            position: forloop.index,
                            loop: section.settings.enable_video_looping,
                            modal_id: product.id,
                            xr_button: false,
                            media_width: 0.5
                          %}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                  {%- if first_3d_model -%}
                    <button
                      class="button button--full-width product__xr-button"
                      type="button"
                      aria-label="{{ 'products.product.xr_button_label' | t }}"
                      data-shopify-xr
                      data-shopify-model3d-id="{{ first_3d_model.id }}"
                      data-shopify-title="{{ product.title | escape }}"
                      data-shopify-xr-hidden
                    >
                      {% render 'icon-3d-model' %}
                      {{ 'products.product.xr_button' | t }}
                    </button>
                  {%- endif -%}
                </media-gallery>
              </div>
              <div class="product__info-wrapper grid__item">
                <div id="ProductInfo-{{ product.id }}" class="product__info-container">
                  {%- assign product_form_id = 'product-form-' | append: product.id -%}

                  <p class="product__text">
                    {{- block.settings.text -}}
                  </p>
                  <h2 class="product__title h2">
                    {%- if product.title != blank -%}
                      {{ product.title | escape }}
                    {%- else -%}
                      {{ 'onboarding.product_title' | t }}
                    {%- endif -%}
                  </h2>
                  {%- if product.metafields.reviews.rating.value != blank -%}
                    {% liquid
                      assign rating_decimal = 0
                      assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                      if decimal >= 0.3 and decimal <= 0.7
                        assign rating_decimal = 0.5
                      elsif decimal > 0.7
                        assign rating_decimal = 1
                      endif
                    %}
                    <div
                      class="rating"
                      role="img"
                      aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                    >
                      <span
                        aria-hidden="true"
                        class="rating-star color-icon-{{ settings.accent_icons }}"
                        style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                      ></span>
                    </div>
                    <p class="rating-text caption">
                      <span aria-hidden="true">
                        {{- product.metafields.reviews.rating.value }} /
                        {{ product.metafields.reviews.rating.value.scale_max -}}
                      </span>
                    </p>
                    <p class="rating-count caption">
                      <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                      <span class="visually-hidden">
                        {{- product.metafields.reviews.rating_count }}
                        {{ 'accessibility.total_reviews' | t -}}
                      </span>
                    </p>
                  {%- endif -%}
                  <div class="no-js-hidden" id="price-{{ product.id }}" role="status">
                    {%- render 'price',
                      product: product,
                      use_variant: true,
                      show_badges: true,
                      price_class: 'price--large',
                      badge_style: 'rectangular'
                    -%}
                  </div>

                  {%- if product != blank -%}
                    <div>
                      {%- form 'product', product -%}
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                        {{ form | payment_terms }}
                      {%- endform -%}
                    </div>
                  {%- endif -%}
                  <!--
                    <div
                      class="product-form__input product-form__quantity"
                    >
                      <label class="form__label" for="Quantity-{{ product.id }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
                      <quantity-input class="quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity__input"
                          type="number"
                          name="quantity"
                          id="Quantity-{{ product.id }}"
                          min="1"
                          value="1"
                          form="{{ product_form_id }}"
                        >
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
                    </div>
                  -->
                  {%- unless product.has_only_default_variant -%}
                    <variant-radios
                      class="no-js-hidden"
                      data-section="{{ product.id }}"
                      data-url="{{ product.url }}"
                      data-update-url="false"
                      {{ block.shopify_attributes }}
                    >
                      {%- for option in product.options_with_values -%}
                        <fieldset class="js product-form__input">
                          <legend class="form__label">{{ option.name }}</legend>
                          {%- for value in option.values -%}
                            <input
                              type="radio"
                              id="{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}"
                              value="{{ value | escape }}"
                              form="{{ product_form_id }}"
                              {% if option.selected_value == value %}
                                checked
                              {% endif %}
                            >
                            <label for="{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {%- endfor -%}
                        </fieldset>
                      {%- endfor -%}
                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-radios>
                  {%- endunless -%}

                  <noscript class="product-form__noscript-wrapper-{{ product.id }}">
                    <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                      <label class="form__label" for="Variants-{{ product.id }}">
                        {{- 'products.product.product_variants' | t -}}
                      </label>
                      <div class="select">
                        <select
                          name="id"
                          id="Variants-{{ product.id }}"
                          class="select__select"
                          form="{{ product_form_id }}"
                        >
                          {%- for variant in product.variants -%}
                            <option
                              {% if variant == product.selected_or_first_available_variant %}
                                selected="selected"
                              {% endif %}
                              {% if variant.available == false %}
                                disabled
                              {% endif %}
                              value="{{ variant.id }}"
                            >
                              {{ variant.title }}
                              {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                              - {{ variant.price | money | strip_html }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  </noscript>
                  <div>
                    {%- if product != blank -%}
                      <product-form class="product-form">
                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            role="presentation"
                            class="icon icon-error"
                            viewBox="0 0 13 13"
                          >
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                          </svg>
                          <span class="product-form__error-message"></span>
                        </div>

                        {%- form 'product',
                          product,
                          id: product_form_id,
                          class: 'form',
                          novalidate: 'novalidate',
                          data-type: 'add-to-cart-form'
                        -%}
                          <input
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            disabled
                          >
                          <div class="product-form__buttons">
                            <button
                              type="submit"
                              name="add"
                              class="add-to-cart-button product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                              {% if product.selected_or_first_available_variant.available == false %}
                                disabled
                              {% endif %}
                            >
                              <span>
                                {%- if product.selected_or_first_available_variant.available -%}
                                  {{ 'products.product.add_to_cart' | t }}
                                {%- else -%}
                                  {{ 'products.product.sold_out' | t }}
                                {%- endif -%}
                              </span>
                              <div class="loading-overlay__spinner hidden">
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  role="presentation"
                                  class="spinner"
                                  viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </button>
                          </div>
                        {%- endform -%}
                      </product-form>
                    {%- else -%}
                      <div class="product-form">
                        <div class="product-form__buttons form">
                          <button
                            type="submit"
                            name="add"
                            class="product-form__submit button button--full-width button--primary"
                            disabled
                          >
                            {{ 'products.product.sold_out' | t }}
                          </button>
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
            <product-modal id="ProductModal-{{ product.id }}" class="product-media-modal media-modal">
              <div
                class="product-media-modal__dialog"
                role="dialog"
                aria-label="{{ 'products.modal.label' | t }}"
                aria-modal="true"
                tabindex="-1"
              >
                <button
                  id="ModalClose-{{ product.id }}"
                  type="button"
                  class="product-media-modal__toggle"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {% render 'icon-close' %}
                </button>

                <div
                  class="product-media-modal__content color-background-1 gradient"
                  role="document"
                  aria-label="{{ 'products.modal.label' | t }}"
                  tabindex="0"
                >
                  {%- liquid
                    if product.selected_or_first_available_variant.featured_media != null
                      assign media = product.selected_or_first_available_variant.featured_media
                      render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
                    endif
                  -%}

                  {%- for media in product.media -%}
                    {%- liquid
                      if section.settings.hide_variants and media_to_render contains media.id
                        assign variant_image = true
                      else
                        assign variant_image = false
                      endif

                      unless media.id == product.selected_or_first_available_variant.featured_media.id
                        render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
                      endunless
                    -%}
                  {%- endfor -%}
                </div>
              </div>
            </product-modal>
          </div>
        </section>

        <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
        {%- if first_3d_model -%}
          <script type="application/json" id="ProductJSON-{{ product.id }}">
            {{ product.media | where: 'media_type', 'model' | json }}
          </script>
          <script src="{{ 'product-model.js' | asset_url }}" defer></script>
        {%- endif -%}

        {%- liquid
          if product.selected_or_first_available_variant.featured_media
            assign seo_media = product.selected_or_first_available_variant.featured_media
          else
            assign seo_media = product.featured_media
          endif
        -%}

        <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
            "@type": "Product",
            "name": {{ product.title | json }},
            "url": {{ request.origin | append: product.url | json }},
            {% if seo_media -%}
              "image": [
                {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
              ],
            {%- endif %}
            "description": {{ product.description | strip_html | json }},
            {% if product.selected_or_first_available_variant.sku != blank -%}
              "sku": {{ product.selected_or_first_available_variant.sku | json }},
            {%- endif %}
            "brand": {
              "@type": "Brand",
              "name": {{ product.vendor | json }}
            },
            "offers": [
              {%- for variant in product.variants -%}
                {
                  "@type" : "Offer",
                  {%- if variant.sku != blank -%}
                    "sku": {{ variant.sku | json }},
                  {%- endif -%}
                  {%- if variant.barcode.size == 12 -%}
                      "gtin12": {{ variant.barcode }},
                  {%- endif -%}
                  {%- if variant.barcode.size == 13 -%}
                    "gtin13": {{ variant.barcode }},
                  {%- endif -%}
                  {%- if variant.barcode.size == 14 -%}
                    "gtin14": {{ variant.barcode }},
                  {%- endif -%}
                  "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
                  "price" : {{ variant.price | divided_by: 100.00 | json }},
                  "priceCurrency" : {{ cart.currency.iso_code | json }},
                  "url" : {{ request.origin | append: variant.url | json }}
                }{% unless forloop.last %},{% endunless %}
              {%- endfor -%}
            ]
          }
        </script>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            function isIE() {
              const ua = window.navigator.userAgent;
              const msie = ua.indexOf('MSIE ');
              const trident = ua.indexOf('Trident/');

              return msie > 0 || trident > 0;
            }

            if (!isIE()) return;
            const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
            const noScriptInputWrapper = document.createElement('div');
            const variantSwitcher =
              document.querySelector('variant-radios[data-section="{{ product.id }}"]') ||
              document.querySelector('variant-selects[data-section="{{ product.id }}"]');
            noScriptInputWrapper.innerHTML = document.querySelector(
              '.product-form__noscript-wrapper-{{ product.id }}'
            ).textContent;
            variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

            document.querySelector('#Variants-{{ product.id }}').addEventListener('change', function (event) {
              hiddenInput.value = event.currentTarget.value;
            });
          });
        </script>

        {% if product.media.size > 0 %}
          <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
          <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="article-sidebar">
    {% liquid
      assign next = false
      assign count = 0
      assign handles = ''
      for link in linklists.blogs.links
        assign blog = link.object
        for rel_article in blog.articles
          if count >= 3
            break
          endif
          if next
            assign handles = handles | append: '|' | append: rel_article.handle
            assign count = count | plus: 1
          endif
          unless next
            if rel_article.handle == article.handle
              assign next = true
            endif
          endunless
        endfor
      endfor

      assign handles = handles | remove_first: '|'
      assign handles = handles | split: '|'
    %}

    {% comment %}theme-check-disable LiquidTag{% endcomment %}
    {%- for handle in handles -%}
      {%- assign article = articles[handle] -%}
      {%- render 'article-card',
        article: article,
        show_image: true,
        show_date: false,
        show_author: false,
        show_excerpt: false
      -%}
    {%- endfor -%}

    {%- if count < 3 -%}
      {%- assign remain_count = 3 | minus: count -%}
      {%- for article in blog.articles limit: remain_count -%}
        {%- render 'article-card',
          article: article,
          show_image: true,
          show_date: false,
          show_author: false,
          show_excerpt: false
        -%}
      {%- endfor -%}
    {%- endif -%}
    {% comment %}theme-check-enable LiquidTag{% endcomment %}
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
